<mat-toolbar color="primary" fxLayoutAlign="space-between center">
  <h1>Mon site</h1>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>reorder</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    routerLink="/">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button
    mat-menu-item
    routerLinkActive="active"
    [routerLink]="'/skills'">
    <mat-icon>home</mat-icon>
    <span>Skills</span>
  </button>
  <button
    mat-menu-item
    routerLinkActive="active"
    routerLink="/experiences">
    <mat-icon>home</mat-icon>
    <span>Experiences</span>
  </button>
  <button
    mat-menu-item
    routerLinkActive="active"
    routerLink="/contact">
    <mat-icon>home</mat-icon>
    <span>Contact</span>
  </button>
  <button
    mat-menu-item
    routerLinkActive="active"
    routerLink="/todos">
      <mat-icon>home</mat-icon>
      <span>Todos</span>
  </button>
</mat-menu>
