<div [style.width.%]="100">
  <h1 class="mat-headline">Skills</h1>
  <mat-grid-list [cols]="isSmallScreen ? 2 : 3" rowHeight="100px" gutterSize="12px">
    <mat-grid-tile>
      <mat-card fxFlex="0.8 0.8 auto">Javascript</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card fxFlex="0.8 0.8 auto">Html</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card fxFlex="0.8 0.8 auto">CSS</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card fxFlex="0.8 0.8 auto">Java</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card fxFlex="0.8 0.8 auto">Objective-C</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card fxFlex="0.8 0.8 auto">C++</mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
