<div [ngStyle]="{width: '90vw'}">
  <h1 class="mat-headline">Skills</h1>
  <mat-grid-list [cols]="isSmallScreen ? 1 : 3" rowHeight="100px" gutterSize="12px">
    <mat-grid-tile>
      <mat-card fxFlex="0 0 80%">Javascript</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card fxFlex="0 0 80%">Html</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card fxFlex="0 0 80%">CSS</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card fxFlex="0 0 80%">Java</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card fxFlex="0 0 80%">Objective-C</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card fxFlex="0 0 80%">C++</mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
