<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="1em">
  <mat-card fxFlex="calc(30% - 1em)">
    <h1>Home</h1>
    <mat-card-content>
      <p>
        Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares
        numeros immodice scrutabatur, an quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis
        Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus artissime
        tenebatur.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="calc(30% - 1em)">
    <h1>Home</h1>
    <mat-card-content>
      <p>
        Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares
        numeros immodice scrutabatur, an quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis
        Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus artissime
        tenebatur.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="calc(30% - 1em)">
    <h1>Home</h1>
    <mat-card-content>
      <p>
        Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares
        numeros immodice scrutabatur, an quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis
        Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque per protectores retractus artissime
        tenebatur.
      </p>
    </mat-card-content>
  </mat-card>
</div>
